### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [190]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [191]:
#Find unique player count
total_players = purchase_data["SN"].nunique()
total_players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [192]:
#calculate unique items, average price, number of purchases, and total purchase amount

unique_items = purchase_data["Item Name"].nunique()
avg_price = purchase_data["Price"].mean()
purchases = purchase_data["Purchase ID"].count()
rev = purchase_data["Price"].sum()

#create dataframe of variables
totals = pd.DataFrame({
    'Number of Unique Items': [unique_items], 
    'Average Price': [avg_price], 
    'Number of Purchases': [purchases], 
    'Total Revenue': [rev]
})
#update fromat to currency
totals["Total Revenue"] = totals["Total Revenue"].map("${:,.2f}".format)
totals["Average Price"] = totals["Average Price"].map("${:,.2f}".format)

#output in notebook
totals

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [193]:
#group by gender
gender_group = purchase_data.groupby("Gender")

#count unique occurrence by gender and total
gender_count = gender_group["SN"].nunique()
total_gender = gender_count.sum()
#percent of total
gen_percent = gender_count/total_gender * 100

#combine into dataframe
gen_demo = pd.DataFrame({
     "Total Count": gender_count,
    "Percentage of Players" : gen_percent
})

#sort and style
sorted_demo = gen_demo.sort_values(['Total Count'], ascending = False).style.format({"Percentage of Players":"{:.2f}%"})

#output in notebook
sorted_demo


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [194]:
#groupby Gender
gender_group = purchase_data.groupby("Gender")

#calculate variables
gender_count = gender_group["SN"].nunique()
pur_count = gender_group["Purchase ID"].count()
total_pur = gender_group["Price"].sum()
avg_pur = total_pur/pur_count
avg_per = total_pur/gender_count

#create summary dataframe

pur_analysis = pd.DataFrame({
    "Purchase Count": pur_count,
    "Average Purchase Price": avg_pur,
    "Total Purchase Value": total_pur,
    "Avg Total Purchase per Person": avg_per
})

#format
pur_analysis["Average Purchase Price"] = pur_analysis["Average Purchase Price"].map("${:,.2f}".format)
pur_analysis["Total Purchase Value"] = pur_analysis["Total Purchase Value"].map("${:,.2f}".format)
pur_analysis["Avg Total Purchase per Person"] = pur_analysis["Avg Total Purchase per Person"].map("${:,.2f}".format)

#output in notebook
pur_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [207]:
#create bins
bins = [0, 9, 14, 19, 24, 29, 34, 39, 1000]

#lables
bin_labels =["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#bin
pd.cut(purchase_data["Age"], bins, labels= bin_labels)
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels= bin_labels)

#group by Age Group
age_group = purchase_data.groupby("Age Group")
person_count = age_group["SN"].nunique()
total_count = person_count.sum()
per_total = person_count/total_count * 100

#combine into dataframe
age_demo = pd.DataFrame({
    "Count": person_count,
    "Percentage of Players" : per_total
})

#style
sorted_age_demo = age_demo.style.format({"Percentage of Players":"{:.2f}%"})

#output in notebook
sorted_age_demo

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [208]:
#create bins
bins = [0, 9, 14, 19, 24, 29, 34, 39, 1000]

#lables
bin_labels =["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#bin
pd.cut(purchase_data["Age"], bins, labels= bin_labels)
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels= bin_labels)


#group by Age Group
age_group = purchase_data.groupby("Age Group")
person_count = age_group["SN"].nunique()
pur_count = age_group["Purchase ID"].count()
total_pur = age_group["Price"].sum()
avg_pur = total_pur/pur_count
avg_per = total_pur/person_count

#create summary dataframe

age_analysis = pd.DataFrame({
    "Purchase Count": pur_count,
    "Average Purchase Price": avg_pur,
    "Total Purchase Value": total_pur,
    "Avg Total Purchase per Person": avg_per
})

#format
age_analysis["Average Purchase Price"] = age_analysis["Average Purchase Price"].map("${:,.2f}".format)
age_analysis["Total Purchase Value"] = age_analysis["Total Purchase Value"].map("${:,.2f}".format)
age_analysis["Avg Total Purchase per Person"] = age_analysis["Avg Total Purchase per Person"].map("${:,.2f}".format)

#output to notebook
age_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Group,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [229]:
#group by SN
SN_group = purchase_data.groupby("SN")

#calculate values
purchase_count = SN_group["Purchase ID"].count()
total_purchase = SN_group["Price"].sum()
avg_pur = total_purchase/purchase_count

#create dataframe
top_spenders = pd.DataFrame({
    "Purchase Count": purchase_count,
    "Average Purchase Price": avg_pur,
    "Total Purchase Value": total_purchase
})

#sort,format, and filter to top five
sorted_top_spenders = top_spenders.sort_values(['Total Purchase Value'], ascending = False).head(5).style.format({"Total Purchase Value":"${:.2f}", "Average Purchase Price":"${:.2f}"})

#output to notebook
sorted_top_spenders

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [240]:
#dataframe subset
pop_df = purchase_data[["Item ID", "Item Name", "Price"]]

#group by Item ID & Item Name
group_item = pop_df.groupby(['Item ID', 'Item Name'])
purchase_count = group_item["Item ID"].count()
total_purchase = group_item["Price"].sum()
avg_price = total_purchase/purchase_count

pop_items = pd.DataFrame({
    "Purchase Count": purchase_count,
    "Average Item Price": avg_price,
    "Total Purchase Value": total_purchase
})

#sort,format, and filter to top five
sorted_pop_items = pop_items.sort_values(['Purchase Count'], ascending = False).head(5).style.format({"Total Purchase Value":"${:.2f}", "Average Item Price":"${:.2f}"})

#output to notebook
sorted_pop_items

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [241]:
#sort,format, and filter to top five
sorted_top_items = pop_items.sort_values(['Total Purchase Value'], ascending = False).head(5).style.format({"Total Purchase Value":"${:.2f}", "Average Item Price":"${:.2f}"})

#output to notebook
sorted_top_items

## Observations

* Men are far more likely to make in-app purchases, accounting for 84% of purchases
* While 20-24 year old players spend the most, 35-39 year old players are the most valuable 
* The most popular item in the game is also the most profitable item